:root {
  --size--conatctsModal--Pic: 4rem;
  --distance--conatcts--list: 2rem;
}
[data-contacts-modal] {
  position: relative;

  width: 30rem;
  background-color: #e9ebf8;
  border-radius: 15px;
  padding: 1rem 1.5rem;
  max-height: 70vh;
  height: fit-content;
}

[data-contacts-modal] > section {
  position: relative;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}

[data-contacts-modal] .AllContactsContainer {
  overflow-y: hidden;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--distance--conatcts--list);
}

[data-contacts-modal] .btnExitModal {
  margin-left: auto;
  font-size: 1.7rem;
}

[data-contacts-modal] header {
  margin-top: 1rem;
  margin-bottom: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[data-contacts-modal] .ModalTitle {
  gap: 5px;
  display: flex;
  font-weight: bold;
  font-size: 2rem;
}

[data-contacts-modal] .ModalTitle > div {
  font-weight: normal;
  font-size: 0.9rem;
  display: flex;
  align-items: flex-end;
}

[data-contacts-modal] .btnFindFriends {
  background-color: hsl(231, 32%, 22%);
  color: whitesmoke;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1.2rem;
  font-size: 0.7rem;
}

[data-contacts-modal] .btnFindFriends:hover {
  background-color: hsl(231, 32%, 30%);
}

[data-contacts-modal] .ContactContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

[data-contacts-modal] .ContactInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

[data-contacts-modal] .ContactInfo div:nth-child(1) {
  font-size: 1.2rem;
}

[data-contacts-modal] .ContactInfo div:nth-child(2) {
  font-size: 0.7rem;
}

[data-contacts-modal] .ContactBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[data-contacts-modal] .ContactsProfilePic {
  width: var(--size--conatctsModal--Pic) !important;
  min-width: var(--size--conatctsModal--Pic) !important;
  height: var(--size--conatctsModal--Pic) !important;
}

[data-contacts-modal] .ContactBlock button {
  border: none;
  border-radius: 1rem;
  height: fit-content;
  width: fit-content;
  font: 1rem;
  font-weight: bold;
  border: 0.7px solid black;
  padding: 0.5rem 1.3rem;
}

[data-contacts-modal] [data-contacts-stat="Default"] {
  background-color: #afbfed;
}

[data-contacts-modal] [data-contacts-stat="Default"]:hover {
  background-color: hsl(225, 63%, 75%);
  /* test 2 email */
}
