:root{
    --size--triabgle: 1rem;
    --clr--primary--user: rgb(175, 191, 237);
    --clr--text--bubble: rgb(233, 235, 248);
}

.messageBubbleContainer{
    position: relative;
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
    display: inline-flex;
    gap: 0.5rem;
}


.messageDisplayAvatarPic{
    position: relative;
    z-index: 10;
    min-width: 1rem !important; 
    width: 2rem !important;
    height: 2.2rem;
    transform: translateY(60%);
    background-color: white;
}

.textBubble p{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
.textBubble p:not(:last-child) {
    margin-bottom: 0.1rem;
}

.messageBubbleContainer .textBubble{
    position: relative;
    background-color: var(--clr--text--bubble);
    padding: 1rem;
    border-radius: 15px;
    width: fit-content;
    max-width: 50%;
}

.messageBubbleContainer[data-primary-user = "true"] .textBubble{
    margin-left: auto;
    background-color: var(--clr--primary--user);
}

.messageBubbleContainer[data-primary-user = "false"] .textBubble .triangle{
    position: absolute;

    left: 0%;
    transform: translateX(-15%);
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;

    border-bottom: var(--size--triabgle) solid var(--clr--text--bubble);
}

.messageBubbleContainer[data-primary-user = "true"] .textBubble .triangle{
    position: absolute;
    z-index: 0;
    left: 100%;
    transform: translateX(-85%);
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;

    border-bottom: var(--size--triabgle) solid var(--clr--primary--user);
}

.messageBubbleContainer .timeStamp{
    position: relative;
    z-index: 3;
    margin-top: 0.7rem;
    margin-bottom: -0.7rem;
    color: rgba(0, 0, 0, 0.7);
}

.hideTriangle{
    display: none;
}

.messageBubbleContainer[data-cont-message = "true"] .triangle{
    display: none;
    background-color: red;
}

.messageBubbleContainer[data-cont-message = "true"] {
    margin-bottom: 0.5rem;
}
