@import url('./messageBubble.css');
:root{
    --gap--bubble--space: 1rem;
}
#MessagesSection{
    height: 100%;
    position: relative;
    background-color: white;
    display: flex; flex-direction: column;
    /* flex-shrink: 0; */

    /* gap: var(--gap--bubble--space); */
    overflow-y: scroll;
    padding: 1.5rem 1rem;
}
#MessagesSection .dateDiv[data-show-date = "NULL"]{
    display: none;
}
#MessagesSection .dateDiv{
    margin: 0.4rem auto 2rem auto;
    width: fit-content;
    font-size: larger;
}